.menu {
    background-color: #afc1d6;
    width: 20%;
    height: 100%;
    margin-left: -20px;
    margin-top: -20px;
    .img-avatar {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 45%;
    }
}
