.menu {
    background-color: #afc1d6;
    width: 20%;
    height: 100vh;
    margin-left: -20px;
    margin-right: 10%;
    margin-top: -20px;
    .img-avatar {
        margin-top: 30%;
        margin-bottom: 15%;
        width: 80%;
    }
    .menu-options {
        margin-top: 15%;
    }
    .option {
        vertical-align: middle;
        cursor: pointer;
    }
    .options {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 50px;
        cursor: pointer;
    }
    .menu-option {
        margin-top: 30px;
    }
    .logout {
        margin-top: 30px;
    }
}
